/* line 1 */
body {
  background-color: black;
  color: #cccccc;
  font-family: "Merriweather", serif;
  font-size: 1.65em;
}

/* line 7 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 13 */
table {
  border: none;
  height: 100%;
  margin: 0 auto 0 auto;
  width: 800px;
}

/* line 19 */
td {
  text-align: center;
  vertical-align: middle;
}

/* line 23 */
a {
  color: #cccccc;
}

/* line 26 */
img {
  vertical-align: middle;
}

/* line 28 */
h2 {
  color: #005d97;
}

/* line 31 */
#us, #about {
  font-size: 0.5em;
  margin: 0;
  padding: 10px;
  position: absolute;
  right: 0;
}

/* line 39 */
#us {
  bottom: 0;
}

/* line 42 */
#about {
  top: 0;
}

/* line 45 */
.quote {
  margin: 0 auto 0 auto;
  width: 800px;
}
/* line 49 */
.quote .source {
  text-align: right;
  font-weight: normal;
  font-style: italic;
}

/* line 55 */
.instructions {
  font-size: 0.75em;
  margin: 0 auto 0 auto;
  text-align: left;
  width: 500px;
}
