/* line 1 */
body {
  background-color: black;
  color: white;
  font-family: "Helvetica", arial, sans;
  font-size: 1.9em;
  font-weight: lighter;
}

/* line 8 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 14 */
table {
  border: none;
  height: 100%;
  margin: 0 auto 0 auto;
  width: 800px;
}

/* line 19 */
td {
  text-align: center;
  vertical-align: middle;
}

/* line 23 */
a {
  color: #cccccc;
}

/* line 26 */
#us {
  font-size: 0.5em;
  margin: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 35 */
.quote {
  margin: 0 auto 0 auto;
  width: 800px;
}
/* line 38 */
.quote h1 {
  font-weight: lighter;
}
/* line 42 */
.quote .source {
  text-align: right;
  font-style: italic;
}

/* line 46 */
.instructions {
  font-size: 0.75em;
  margin: 0 auto 0 auto;
  text-align: left;
  width: 500px;
}
