/* line 1 */
body {
  background-color: black;
  color: #cccccc;
  font-family: "Merriweather", arial, serif;
  font-size: 1.65em;
}

/* line 7 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 13 */
table {
  border: none;
  height: 100%;
  margin: 0 auto 0 auto;
  width: 800px;
}

/* line 18 */
td {
  text-align: center;
  vertical-align: middle;
}

/* line 22 */
a {
  color: #cccccc;
}

/* line 25 */
#us {
  font-size: 0.5em;
  margin: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 34 */
.quote {
  margin: 0 auto 0 auto;
  width: 800px;
}
/* line 38 */
.quote .source {
  text-align: right;
  font-style: italic;
}

/* line 42 */
.instructions {
  font-size: 0.75em;
  margin: 0 auto 0 auto;
  text-align: left;
  width: 500px;
}
