%p#us=link "Home", "/"
:markdown
  ##What?

  [makesomethingpeoplewant.org](http://www.makesomethingpeoplewant.org/) provides a simple, non-intrusive page of carefully-chosen, timeless quotes&mdash;one at a time.
  
  ##Why?

  We believe that every person has work to do, and we know the struggle to accomplish that work with the noise of the Internet.
  
  So&hellip;
  
  We designed [makesomethingpeoplewant.org](http://www.makesomethingpeoplewant.org/) to help restore focus. The simplicity doesn't distract; the quotes motivate.

  ##How?

  - You could set [makesomethingpeoplewant.org](http://www.makesomethingpeoplewant.org/) as your homepage.
  - You could try our [chrome extension](/chrome_extension.html) to block out the distracting sites.

  ##Who?

  ![Luke Seelenbinder](http://graph.facebook.com/luke.seelenbinder/picture) Luke Seelenbinder &mdash; code &amp; design

  _Thanks to Josiah Wartak for the idea and initial guidance._
