%p#us=link "Home", "/"
%h2 Chrome Extension
%p A simple Chrome extension that redirects sites that distract you (HackerNews, of course) to our site. It's an easy way to motivate yourself when you'd rather be wasting time.
=link "Get it!", "https://chrome.google.com/webstore/detail/gnnlhcebkpaimjkkldokngkhdaigkkmm"
