%p#us #{ link "Home", "/" }
%h2 Chrome Extension
%p A simple Chrome extension that redirects sites of that distract you (HackerNews, of course) to our site. It's an easy way to motivate yourself when you'd rather be wasting time.
= link_to "Get it!", "/downloads/makesomething.crx"
-# 
  .instructions
    %p Windows instructions:
    %ol
      %li Go to C:\Windows\system32\drivers\etc and open hosts with Notepad.
      %li Go to the bottom of the page (below 127.0.0.1 localhost)
      %li Copy and paste the text below after removing any sites you still want access to.
      %li Hit Ctrl-S to save and Alt-F4 to close.
    %p Mac instructions:
    %ol
      %li Open Terminal.app - Either by typing Terminal in Spotlight, or by going into Applications -> Utilities -> Terminal.
      %li 
        Open the hosts file - Open the hosts by typing on the Terminal that you have just opened:
        %p sudo nano /private/etc/hosts
        Type your user password when prompted.
      %li Edit the hosts file - Scroll to the bottom using the arrow keys and copy and paste the text below after removing any sites you still want access to. 
      %li Save the hosts file - When done editing the hosts file, press control-o to save the file. Press enter on the filename prompt, and control-x to exit the editor.
      %li
        Flush the DNS cache - On Leopard you can issue a simple Terminal command to flush the DNS cache, and have your host file changes to take immediate effect:
        %p dscacheutil -flushcache
