body
  background-color: #000
  color: #ccc
  font:
    family: "Merriweather", serif
    size: 1.65em
html, body
  height: 100%
  margin: 0
  padding: 0
  width: 100%

table
  border: none
  height: 100%
  margin: 0 auto 0 auto
  width: 800px

td
  text-align: center
  vertical-align: middle

a
  color: #ccc

img
  vertical-align: middle
h2
  color: #005D97

#us, #about
  font:
    size: 0.5em
  margin: 0
  padding: 10px
  position: absolute
  right: 0

#us
  bottom: 0

#about
  top: 0

.quote
  margin: 0 auto 0 auto
  width: 800px

  .source
    text-align: right
    font:
      weight: normal
      style: italic

.instructions
  font:
    size: 0.75em
  margin: 0 auto 0 auto
  text-align: left
  width: 500px
