!!!
%html
  %head
    %title Make Something People Want
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    = stylesheets
  %body
    %table
      %tr
        %td
          = yield
