!!!
%html
  %head
    %title Make Something People Want
    <link href='http://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:regular,regularitalic,600,600italic,bold,bolditalic' rel='stylesheet' type='text/css'>
    = stylesheets
  %body
    %table
      %tr
        %td
          = yield
